.DS_Store
.idea
*.iml
classes
out
target

pom.xml.*
release.properties

.gradle
/build/
/gradle/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

.idea/*
!.idea/runConfigurations
